<% layout("/layouts/boilerplate") %>

<div>
  <h2>Your Orders</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Items</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% orders.forEach(order => { %>
      <tr>
        <td><%= order._id %></td>
        <td>
          <% order.items.forEach(item => { %>
          <div><%= item.menuItem.name %> x <%= item.quantity %></div>
          <% }) %>
        </td>
        <td>&#x20B9; <%= order.totalAmount.toLocaleString("en-IN") %></td>
        <td><%= order.status %></td>
        <td><%= new Date(order.createdAt).toLocaleString() %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
