<% layout("/layouts/boilerplate") %>

<div class="container mt-3">
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4">
    <% for (let menu of allMenus) { %>
    <div class="col">
      <!-- Menu Item Card -->
      <div class="card menu-card">
        <a href="/Menu/<%= menu._id %>" class="Menu-link">
          <img
            src="<%= menu.image.url %>"
            class="card-img-top"
            alt="menu_image"
            style="height: 20rem; background-color: #e3dbd1ef"
          />
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text text-center">
              <b><%= menu.name %></b><br />
              <b>Category: <%= menu.category %></b><br />
              &#x20B9; <%= menu.price.toLocaleString("en-IN") %><br />
              <%= menu.availability ? "Available" : "Unavailable" %>
            </p>
          </div>
        </a>
      </div>
      <div class="text-center mb-4">
        <form action="/placeOrder" method="GET">
          <button type="submit" class="btn btn-primary mt-2">Order Now</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
